<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Body</th>
      <th>Idea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_name %></td>
        <td><%= comment.body %></td>
        <td><%= comment.idea_id %></td>
        <td>
          <%= link_to comment do %>
            <i class="fa fa-file-o"></i> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_comment_path(comment) do %>
            <i class="fa fa-pencil-square-o"></i> Edit
          <% end %>
        </td>
        <td>
          <%= link_to comment, data: { confirm: 'Are you sure?' }, method: :delete do %>
            <i class="fa fa-trash-o"></i> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
